<div class="container-fluid mt-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="app-title">Daily Inspirational Quotes to Start Your Day</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<h1 class="new-quote-title">Edit quote</h1>

<div class="quote-form">
<%= render 'form' %>

<p><button class="btn btn-secondary back-button"><%= link_to 'Back', quotes_path %></button></p>
</div>
