<div class="comment-titles">
  <div class="titles">
<p>
  <strong><%= comment.commenter %> </strong>
  : <%= comment.body %>
</p>
</div>

<p>
  <button class="btn btn-secondary back-button"><%= link_to 'Destroy Comment', [comment.quote, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %></button>
</p>
</div>
